In [31]:
import os
# Crédentials d'accès à AWS
os.environ['AWS_ACCESS_KEY_ID'] = "AKIA3R62MVALHESATEYJ"
os.environ['AWS_SECRET_ACCESS_KEY'] = "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"
os.environ['ARTIFACT_STORE_URI'] = "s3://isen-mlflow/models/"
os.environ['BACKEND_STORE_URI'] = "postgresql://mqnvdkpvcofzld:91fb99bacc7e38d371cd7e96e3b5b15967ce099bfc393b3ec1c3dd1502069cbf@ec2-54-73-103-21.eu-west-1.compute.amazonaws.com:5432/d1dcrr60p484dk"

In [32]:
import pandas as pd
# Import dataset
df = pd.read_csv("train.csv", sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [33]:
# Features selection
df = df[['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'y']]
df

,age,job,marital,education,default,balance,housing,loan,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,2,188,11,other,no

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# All dictioanry
all_dict = {}
le.fit_transform(df['job'])
all_dict['job'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['job'] = le.fit_transform(df['job'])


le.fit_transform(df['marital'])
all_dict['marital'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['marital'] = le.fit_transform(df['marital'])

le.fit_transform(df['education'])
all_dict['education'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['education'] = le.fit_transform(df['education'])

le.fit_transform(df['default'])
all_dict['default'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['default'] = le.fit_transform(df['default'])

le.fit_transform(df['housing'])
all_dict['housing'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['housing'] = le.fit_transform(df['housing'])

le.fit_transform(df['loan'])
all_dict['loan'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['loan'] = le.fit_transform(df['loan'])

le.fit_transform(df['poutcome'])
all_dict['poutcome'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['poutcome'] = le.fit_transform(df['poutcome'])

le.fit_transform(df['y'])
all_dict['y'] = dict(zip(le.classes_, le.transform(le.classes_)))
df['y'] = le.fit_transform(df['y'])

X=df[['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome']]
y=df['y']

C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job'] = le.fit_transform(df['job'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marital'] = le.fit_transform(df['marital'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['education'] = le.fit_transform(df['education'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['default'] = le.fit_transform(df['default'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['housing'] = le.fit_transform(df['housing'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loan'] = le.fit_transform(df['loan'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['poutcome'] = le.fit_transform(df['poutcome'])
C:\Users\ISEN\AppData\Local\Temp\ipykernel_27536\2382357728.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'] = le.fit_transform(df['y'])

In [36]:
from sklearn.model_selection import train_test_split



# Train / test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2)

In [37]:
import numpy as np
import json

# Convert numpy.int64 to int for all values in the dictionary
all_dict = {key: {sub_key: int(value) for sub_key, value in sub_dict.items()} for key, sub_dict in all_dict.items()}

# Save all dict in json
with open('all_dict.json', 'w') as fp:json.dump(all_dict, fp)
all_dict

TypeError: keys must be str, int, float, bool or None, not int32

In [22]:
import os
os.environ

environ{'ACSETUPSVCPORT': '23210',
        'ACSVCPORT': '17532',
        'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\ISEN\\AppData\\Roaming',
        'CHROME_CRASHPAD_PIPE_NAME': '\\\\.\\pipe\\crashpad_16012_OSCBSZMMVHHNJXAG',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'PC-NABDALLAH',
        'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe',
        'CONDA_DEFAULT_ENV': 'venv_fastapi',
        'CONDA_EXE': 'C:\\Users\\ISEN\\anaconda3\\condabin\\..\\Scripts\\conda.exe',
        'CONDA_EXES': '"C:\\Users\\ISEN\\anaconda3\\condabin\\..\\Scripts\\conda.exe"  ',
        'CONDA_PREFIX': 'C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi',
        'CONDA_PROMPT_MODIFIER': '(venv_fastapi) ',
        'CONDA_PYTHON_EXE': 'C:\\Users\\ISEN\\anaconda3\\python.exe',
        'CONDA_ROOT': 'C:\\Users\\ISEN\\anaconda3',
        'CONDA_SHLVL': '1',
        'CUDA_PATH': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.0',
        'CUDA_PATH_V12_0': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.0',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'EFC_11832': '1',
        'ELECTRON_NO_ATTACH_CONSOLE': '1',
        'ELECTRON_RUN_AS_NODE': '1',
        'FFMPEG': 'C:\\Travail\\ffmpeg',
        'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer',
        'FPS_BROWSER_USER_PROFILE_STRING': 'Default',
        'GS': 'C:\\Program Files\\gs\\gs10.01.2\\bin\\gswin64c.exe',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\ISEN',
        'JPY_INTERRUPT_EVENT': '2228',
        'LOCALAPPDATA': 'C:\\Users\\ISEN\\AppData\\Local',
        'LOGONSERVER': '\\\\PC-NABDALLAH',
        'NUMBER_OF_PROCESSORS': '16',
        'ONEDRIVE': 'C:\\Users\\ISEN\\OneDrive',
        'ORIGINAL_XDG_CURRENT_DESKTOP': 'undefined',
        'OS': 'Windows_NT',
        'PATH': 'c:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\Library\\mingw-w64\\bin;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\Library\\usr\\bin;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\Library\\bin;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\Scripts;C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\bin;C:\\Users\\ISEN\\anaconda3\\condabin;C:\\Users\\ISEN\\anaconda3;C:\\Users\\ISEN\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\ISEN\\anaconda3\\Library\\usr\\bin;C:\\Users\\ISEN\\anaconda3\\Library\\bin;C:\\Users\\ISEN\\anaconda3\\Scripts;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.0\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.0\\libnvvp;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Program Files\\NVIDIA Corporation\\Nsight Compute 2022.4.0;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn;C:\\Program Files\\dotnet;C:\\Program Files\\Git\\cmd;C:\\MINGW\\MinGW\\bin;C:\\Program Files\\gs\\gs10.01.2\\bin;C:\\Program Files\\Docker\\Docker\\resources\\bin;C:\\Users\\ISEN\\AppData\\Local\\Microsoft\\WindowsApps;.;C:\\Users\\ISEN\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\ISEN\\.dotnet\\tools;C:\\Program Files\\heroku\\bin',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'AMD64 Family 25 Model 80 Stepping 0, AuthenticAMD',
        'PROCESSOR_LEVEL': '25',
        'PROCESSOR_REVISION': '5000',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PROMPT': '(venv_fastapi) $P$G',
        'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
        'PYTHONIOENCODING': 'utf-8',
        'PYTHONUNBUFFERED': '1',
        'PYTHONUTF8': '1',
        'PYTHON_PATH_EXT': 'C:\\Users\\ISEN\\AppData\\Roaming\\Python\\Python39\\Scripts',
        'RLSSVCPORT': '22112',
        'SESSIONNAME': 'Console',
        'SSL_CERT_FILE': 'C:\\Users\\ISEN\\anaconda3\\envs\\venv_fastapi\\Library\\ssl\\cacert.pem',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\WINDOWS',
        'TEMP': 'C:\\Users\\ISEN\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\ISEN\\AppData\\Local\\Temp',
        'USERDOMAIN': 'PC-NABDALLAH',
        'USERDOMAIN_ROAMINGPROFILE': 'PC-NABDALLAH',
        'USERNAME': 'ISEN',
        'USERPROFILE': 'C:\\Users\\ISEN',
        'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
        'VSCODE_CLI': '1',
        'VSCODE_CODE_CACHE_PATH': 'C:\\Users\\ISEN\\AppData\\Roaming\\.anaconda\\navigator\\.anaconda\\navigator\\Code\\CachedData\\8b3775030ed1a69b13e4f4c628c612102e30a681',
        'VSCODE_CRASH_REPORTER_PROCESS_TYPE': 'extensionHost',
        'VSCODE_CWD': 'C:\\Users\\ISEN',
        'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
        'VSCODE_IPC_HOOK': '\\\\.\\pipe\\993cbfdd79531670945925d8ea67a1ed-1.85.2-main-sock',
        'VSCODE_NLS_CONFIG': '{"locale":"en-us","osLocale":"fr-fr","availableLanguages":{},"_languagePackSupport":true}',
        'VSCODE_PID': '16012',
        'WINDIR': 'C:\\WINDOWS',
        '_CONDA_OLD_CHCP': '850',
        '__CONDA_OPENSLL_CERT_FILE_SET': '"1"',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
        'KMP_DUPLICATE_LIB_OK': 'True',
        'KMP_INIT_AT_FORK': 'FALSE',
        'AWS_ACCESS_KEY_ID': 'AKIA3R62MVALHESATEYJ',
        'AWS_SECRET_ACCESS_KEY': '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',
        'ARTIFACT_STORE_URI': 's3://isen-mlflow/models/',
        'BACKEND_STORE_URI': 'postgresql://mqnvdkpvcofzld:91fb99bacc7e38d371cd7e96e3b5b15967ce099bfc393b3ec1c3dd1502069cbf@ec2-54-73-103-21.eu-west-1.compute.amazonaws.com:5432/d1dcrr60p484dk'}

In [40]:
import mlflow
from mlflow.models import infer_signature


# Connexion à MLflow
# mlflow.set_tracking_uri("http://127.0.0.1:5000/")
mlflow.set_tracking_uri("https://isen-mlflow-nadine-21ef323e2826.herokuapp.com/")
# Configuration de l'autolog
mlflow.sklearn.autolog()

# Configuration d'une expérience (création si elle n'existe pas)
mlflow.set_experiment("ISEN - Nadine - Experience 1")

# Connexion à une expérience
experiment = mlflow.get_experiment_by_name("ISEN - Nadine -  Experience 1")# Nom de l'expérience de votre groupe

2024/02/01 15:57:36 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.
2024/02/01 15:57:36 INFO mlflow.tracking.fluent: Experiment with name 'ISEN - Nadine - Experience 1' does not exist. Creating a new experiment.

In [28]:
# Début de l'expérience (run name = "First Run")
# mlflow.end_run()
# mlflow.start_run(run_name="Run 0")

In [47]:
import mlflow
import os

os.environ['AWS_ACCESS_KEY_ID'] = "AKIA3R62MVALHESATEYJ"
os.environ['AWS_SECRET_ACCESS_KEY'] = "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"
os.environ['ARTIFACT_STORE_URI'] = "s3://isen-mlflow/models/"

mlflow.set_tracking_uri("https://isen-mlflow-nadine-21ef323e2826.herokuapp.com/")

mlflow.set_experiment("Isen - Mlflow PARIS")


mlflow.start_run(run_name="Test - Run")

mlflow.log_metrics({"accuracy": 0.9, "loss": 0.2})


mlflow.log_artifact("./Dockerfile")
mlflow.end_run()

In [48]:
from sklearn.preprocessing import  StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

# Infer signature : obtention des informations sur les colonnes en entrée
signature = infer_signature(X_train, y_train)
mlflow.set_experiment("Isen - Mlflow PARIS")

mlflow.start_run(run_name="Test - Run")
    # Pipeline d'entraînement
model = Pipeline(steps=[
        ("standard_scaler", StandardScaler()),
        ("Classifier",RandomForestClassifier())
])

    # Entraînement du modèle
model.fit(X_train, y_train)

    # Log des métriques
mlflow.log_metric("train_score", model.score(X_train, y_train))


mlflow.sklearn.log_model(model,                                             # Sauvegarde du modèle
                            "model Bank 22",                                   # Nom du modèle
                            signature=signature,                                # Informations sur les colonnes en entrée
                            input_example=X_train.head(1),                      # Exemple d'entrée
                            registered_model_name="Bank"               # Nom du modèle enregistré
                            )


# Print Scores
print(f"Train score: {model.score(X_train, y_train)}")
print(f"Test score: {model.score(X_test, y_test)}")
mlflow.end_run()

c:\Users\ISEN\anaconda3\envs\venv_fastapi\lib\site-packages\mlflow\models\signature.py:212: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  inputs = _infer_schema(model_input) if model_input is not None else None
c:\Users\ISEN\anaconda3\envs\venv_fastapi\lib\site-packages\mlflow\models\signature.py:213: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  outputs = _infer_schema(model_output) if model_output is not None else None
2024/02/01 16:06:40 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "c:\Users\ISEN\anaconda3\envs\venv_fastapi\lib\site-packages\mlflow\data\pandas_dataset.py:116: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2024/02/01 16:06:50 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "c:\Users\ISEN\anaconda3\envs\venv_fastapi\lib\site-packages\mlflow\models\signature.py:212: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2024/02/01 16:06:54 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "c:\Users\ISEN\anaconda3\envs\venv_fastapi\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils."